# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.enemy-AI-2D.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects_Games\enemy-AI-2D\.idea\.idea.enemy-AI-2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
